/*  git remote add upstream url
git push upstream master */

*{
    /* border: 2px solid black; */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: rgb(107, 45, 0);
}
/* Individual hexagon colors */
/* Make colors normal, gradient colors with white if player takes over and black if enemmy takes over */
.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.cyan {background-color: cyan;}
.purple {background-color: purple;}
.grey {background-color: grey;}
/* Player Colors */
.red.player {background-image: radial-gradient( rgb(107, 0, 0), white);}
.red.player:hover {background-image: radial-gradient( rgb(255, 4, 4), white);}
.yellow.player {background-image: radial-gradient( rgb(116, 116, 0), white);}
.yellow.player:hover {background-image: radial-gradient( rgb(255, 255, 0), white);}
.green.player {background-image: radial-gradient( rgb(0, 70, 0), white);}
.green.player:hover {background-image: radial-gradient( rgb(0, 255, 0), white);}
.blue.player {background-image: radial-gradient( rgb(0, 0, 78), white);}
.blue.player:hover {background-image: radial-gradient( rgb(0, 0, 255), white);}
.cyan.player {background-image: radial-gradient( rgb(0, 97, 97), white);}
.cyan.player:hover {background-image: radial-gradient( rgb(0, 255, 255), white);}
.purple.player {background-image: radial-gradient( rgb(87, 0, 87), white);}
.purple.player:hover {background-image: radial-gradient( rgb(255, 0, 255), white);}
.grey.player {background-image: radial-gradient( rgb(39, 39, 39), white);}
.grey.player:hover {background-image: radial-gradient( rgb(153, 153, 153), white);}
/* EnemyColors */
.red.enemy:hover {background-image: radial-gradient( rgb(107, 0, 0), black);}
.red.enemy {background-image: radial-gradient( rgb(255, 4, 4), black);}
.yellow.enemy:hover {background-image: radial-gradient( rgb(116, 116, 0), black);}
.yellow.enemy {background-image: radial-gradient( rgb(255, 255, 0), black);}
.green.enemy:hover {background-image: radial-gradient( rgb(0, 70, 0), black);}
.green.enemy {background-image: radial-gradient( rgb(0, 255, 0), black);}
.blue.enemy:hover {background-image: radial-gradient( rgb(0, 0, 78), black);}
.blue.enemy {background-image: radial-gradient( rgb(0, 0, 255), black);}
.cyan.enemy:hover {background-image: radial-gradient( rgb(0, 97, 97), black);}
.cyan.enemy {background-image: radial-gradient( rgb(0, 255, 255), black);}
.purple.enemy:hover {background-image: radial-gradient( rgb(87, 0, 87), black);}
.purple.enemy {background-image: radial-gradient( rgb(255, 0, 255), black);}
.grey.enemy:hover {background-image: radial-gradient( rgb(39, 39, 39), black);}
.grey.enemy {background-image: radial-gradient( rgb(255, 255, 255), black);}
/* The Modals */
#opening {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;;
    height: 400px;
    background-color: darkgreen;
    z-index: 300;
    text-align: center;
    vertical-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
.closeModal{
    visibility: hidden;
}
#start {
    background-color: darkslateblue;
    padding: 5px 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    border-radius: 10px;
}
#start:hover {
    background-color: darkturquoise;
    cursor: pointer;
}
/* Main color button */
#colorChoose {
    display: flex;
    width: 10vh;
    height: 70vh;
    background-color: dimgray;
    border: 2px solid black;
    position: fixed;
    top:50%;
    left: 50px;
    transform: translate(-50%, -50%);
    z-index: 400;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}
#enemyColorChoose {
    display: flex;
    width: 10vh;
    height: 70vh;
    background-color: dimgray;
    border: 2px solid black;
    position: fixed;
    top:50%;
    right: 50px;
    transform: translate(50%, -50%);
    z-index: 400;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}
.colorButtons {
    background-color: rgb(252, 252, 252);
    border: 2px solid black;
    width: 40px;
    height: 40px;
}
.fakeModal {
    display: flex;
    width: 0;
    height: 70vh;
    border: 2px solid rgba(255, 0, 0, 0);
    position: fixed;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}

.fake1 {
    top:50%;
    left: 0;
    z-index: 700;
    transform: translate(-50%, -50%);
}
.fake2{
    top:50%;
    right: 0;
    z-index: 700;
    transform: translate(50%, -50%);
}
.redButton, .redButtonFake {background-image: radial-gradient( rgb(107, 0, 0), white);}
.redButton:hover, .redButtonFake:hover {background-image: radial-gradient( rgb(255, 4, 4), white);}
.yellowButton, .yellowButtonFake {background-image: radial-gradient( rgb(116, 116, 0), white);}
.yellowButton:hover, .yellowButtonFake:hover {background-image: radial-gradient( rgb(255, 255, 0), white);}
.greenButton, .greenButtonFake {background-image: radial-gradient( rgb(0, 70, 0), white);}
.greenButton:hover, .greenButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 0), white);}
.blueButton, .blueButtonFake {background-image: radial-gradient( rgb(0, 0, 78), white);}
.blueButton:hover, .blueButtonFake:hover {background-image: radial-gradient( rgb(0, 0, 255), white);}
.cyanButton, .cyanButtonFake {background-image: radial-gradient( rgb(0, 97, 97), white);}
.cyanButton:hover, .cyanButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 255), white);}
.purpleButton, .purpleButtonFake {background-image: radial-gradient( rgb(87, 0, 87), white);}
.purpleButton:hover, .purpleButtonFake:hover {background-image: radial-gradient( rgb(255, 0, 255), white);}
.greyButton, .greyButtonFake {background-image: radial-gradient( rgb(39, 39, 39), white);}
.greyButton:hover, .greyButtonFake:hover {background-image: radial-gradient( rgb(153, 153, 153), white);}

.fakes1 {
    transform: translateX(50px);
    background-image: radial-gradient(pink, black);
}
.fakes2 {
    transform: translateX(-50px);
    background-image: radial-gradient(pink, black);
}
/* FOR ALL BOARDS */
.theHexagons{
    width: 50px;
    height: 44px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
    z-index: 10;
    
}
/* Need to ask arthur about this */
/* .theHexagons::after {        
    content:"";
    position: absolute;
    width: 50%;
    height: 5%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
    background-color: black;
    z-index: -20;
} */

#whoseTurn {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    text-align: center;
}
/* FIRST BOARD */
#boardOne {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-36.6%, -50%);
    width: 500px;
    height: 440px;
}
.column {
    width:10%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.colOdd {
    top: -2.5%;
}
.colEven {
    top: 2.5%;
}
#board1Col1 {
    left:7%;
}
#board1Col2 {
    left:14%;
}
#board1Col3 {
    left:21%;
}
#board1Col4 {
    left:28%;
}
#board1Col5 {
    left:35%;
}
#board1Col6 {
    left:42%;
}
#board1Col7 {
    left:49%;
}
#board1Col8 {
    left:56%;
}
#board1Col9 {
    left:63%;
}
#board1Col10 {
    left:70%;
}
