*{
    /* border: 2px solid black; */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: saddlebrown;
}
/* Individual hexagon colors */
.red {
    background-image: radial-gradient( rgb(158, 0, 0), black);
}
.red:hover {
    background-image: radial-gradient( rgb(255, 4, 4), black);
}
.yellow {
    background-image: radial-gradient( rgb(180, 180, 0), black);
}
.yellow:hover {
    background-image: radial-gradient( rgb(255, 255, 0), black);
}
.green {
    background-image: radial-gradient( green, black);
}
.green:hover {
    background-image: radial-gradient( rgb(0, 255, 0), black);
}
.blue {
    background-image: radial-gradient( rgb(0, 0, 158), black);
}
.blue:hover {
    background-image: radial-gradient( rgb(0, 0, 255), black);
}
.cyan {
    background-image: radial-gradient( rgb(0, 155, 155), black);
}
.cyan:hover {
    background-image: radial-gradient( rgb(0, 255, 255), black);
}
.purple {
    background-image: radial-gradient( purple, black);
}
.purple:hover {
    background-image: radial-gradient( rgb(255, 0, 255), black);
}
.grey {
    background-image: radial-gradient( rgb(156, 156, 156), black);
    content: "RED";
}
.grey:hover {
    background-image: radial-gradient( rgb(255, 255, 255), black);
}
/* FIRST BOARD */
#boardOne {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -50%);
    width: 700px;
    height: 600px;
    /* background-color: rgb(0, 80, 80); */
    /* clip-path: 20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%, 20% 0%; */

}
.column {
    width:10%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.colOdd {
    top: -2.5%;
}
.colEven {
    top: 2.5%;
}
#board1Col1 {
    left:7%;
}
#board1Col2 {
    left:14%;
}
#board1Col3 {
    left:21%;
}
#board1Col4 {
    left:28%;
}
#board1Col5 {
    left:35%;
}
#board1Col6 {
    left:42%;
}
#board1Col7 {
    left:49%;
}
#board1Col8 {
    left:56%;
}
#board1Col9 {
    left:63%;
}
#board1Col10 {
    left:70%;
}
.theHexagons{
    width: 100%;
    height: 10%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
}