/*  git remote add upstream url
git push upstream master */

*{
    /* border: 2px solid black; */
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: rgb(107, 45, 0);
}
/* Individual hexagon colors */
/* Make colors normal, gradient colors with white if player takes over and black if enemmy takes over */
.red {background-color: red;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.cyan {background-color: cyan;}
.purple {background-color: purple;}
.grey {background-color: grey;}
/* Player Colors */
/* .enemy.theHexagons {
    background-image:url("../);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
} */
.red.player {background-image: radial-gradient( rgb(107, 0, 0), white);}
.red.player:hover {background-image: radial-gradient( rgb(255, 4, 4), white);}
.yellow.player {background-image: radial-gradient( rgb(116, 116, 0), white);}
.yellow.player:hover {background-image: radial-gradient( rgb(255, 255, 0), white);}
.green.player {background-image: radial-gradient( rgb(0, 70, 0), white);}
.green.player:hover {background-image: radial-gradient( rgb(0, 255, 0), white);}
.blue.player {background-image: radial-gradient( rgb(0, 0, 78), white);}
.blue.player:hover {background-image: radial-gradient( rgb(0, 0, 255), white);}
.cyan.player {background-image: radial-gradient( rgb(0, 97, 97), white);}
.cyan.player:hover {background-image: radial-gradient( rgb(0, 255, 255), white);}
.purple.player {background-image: radial-gradient( rgb(87, 0, 87), white);}
.purple.player:hover {background-image: radial-gradient( rgb(255, 0, 255), white);}
.grey.player {background-image: radial-gradient( rgb(39, 39, 39), white);}
.grey.player:hover {background-image: radial-gradient( rgb(153, 153, 153), white);}
/* EnemyColors */
/* .red.enemy:hover {background-image: radial-gradient( rgb(107, 0, 0), black);}
.red.enemy {background-image: radial-gradient( rgb(255, 4, 4), black);}
.yellow.enemy:hover {background-image: radial-gradient( rgb(116, 116, 0), black);}
.yellow.enemy {background-image: radial-gradient( rgb(255, 255, 0), black);}
.green.enemy:hover {background-image: radial-gradient( rgb(0, 70, 0), black);}
.green.enemy {background-image: radial-gradient( rgb(0, 255, 0), black);}
.blue.enemy:hover {background-image: radial-gradient( rgb(0, 0, 78), black);}
.blue.enemy {background-image: radial-gradient( rgb(0, 0, 255), black);}
.cyan.enemy:hover {background-image: radial-gradient( rgb(0, 97, 97), black);}
.cyan.enemy {background-image: radial-gradient( rgb(0, 255, 255), black);}
.purple.enemy:hover {background-image: radial-gradient( rgb(87, 0, 87), black);}
.purple.enemy {background-image: radial-gradient( rgb(255, 0, 255), black);}
.grey.enemy:hover {background-image: radial-gradient( rgb(39, 39, 39), black);}
.grey.enemy {background-image: radial-gradient( rgb(255, 255, 255), black);} */
/* The Modals */
#opening {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;;
    height: 400px;
    background-color: darkgreen;
    z-index: 300;
    text-align: center;
    vertical-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
.closeModal{
    visibility: hidden;
}
#start {
    background-color: darkslateblue;
    padding: 5px 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    border-radius: 10px;
}
#start:hover {
    background-color: darkturquoise;
    cursor: pointer;
}
.winModal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    text-align: center;
    z-index: 400;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    width: 300px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px;
}
#loseModal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    text-align: center;
    z-index: 400;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 89, 89);
    width: 300px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px;
}
#secondButton {
    border: 2px solid black;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
}
#thirdButton {
    border: 2px solid black;
    background-color: rgb(99, 110, 0);
    padding: 5px;
    border-radius: 5px;
}
.restart {
    border: 2px solid black;
    background-color: hotpink;
    padding: 5px;
    border-radius: 5px;
}
#secondButton:hover {
    cursor: pointer;
    background-color: rgb(82, 243, 248);
}
#thirdButton:hover {
    cursor: pointer;
    background-color: rgb(243, 255, 132);
}
.restart:hover {
    cursor: pointer;
    background-color: rgb(155, 0, 77);
}
/* Main color button */
#colorChoose {
    display: flex;
    width: 10vh;
    height: 70vh;
    background-color: dimgray;
    border: 2px solid black;
    position: fixed;
    top:50%;
    left: 50px;
    transform: translate(-50%, -50%);
    z-index: 400;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}
#enemyColorChoose {
    display: flex;
    width: 10vh;
    height: 70vh;
    background-color: dimgray;
    border: 2px solid black;
    position: fixed;
    top:50%;
    right: 50px;
    transform: translate(50%, -50%);
    z-index: 400;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}
.colorButtons {
    background-color: rgb(252, 252, 252);
    border: 2px solid black;
    width: 40px;
    height: 40px;
}
.fakeModal {
    display: flex;
    width: 0;
    height: 70vh;
    border: 2px solid rgba(255, 0, 0, 0);
    position: fixed;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
}
.fake1 {
    top:50%;
    left: 0;
    z-index: 700;
    transform: translate(-50%, -50%);
}
.fake2{
    top:50%;
    right: 0;
    z-index: 700;
    transform: translate(50%, -50%);
}
#colorChoose .redButton {background-image: radial-gradient( rgb(107, 0, 0), white);}
#colorChoose .redButton:hover, .fake1 .redButtonFake:hover {background-image: radial-gradient( rgb(255, 4, 4), white);}
#colorChoose .yellowButton {background-image: radial-gradient( rgb(116, 116, 0), white);}
#colorChoose .yellowButton:hover, .fake1 .yellowButtonFake:hover {background-image: radial-gradient( rgb(255, 255, 0), white);}
#colorChoose .greenButton {background-image: radial-gradient( rgb(0, 70, 0), white);}
#colorChoose .greenButton:hover, .fake1 .greenButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 0), white);}
#colorChoose .blueButton {background-image: radial-gradient( rgb(0, 0, 78), white);}
#colorChoose .blueButton:hover, .fake1 .blueButtonFake:hover {background-image: radial-gradient( rgb(0, 0, 255), white);}
#colorChoose .cyanButton {background-image: radial-gradient( rgb(0, 97, 97), white);}
#colorChoose .cyanButton:hover, .fake1 .cyanButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 255), white);}
#colorChoose .purpleButton {background-image: radial-gradient( rgb(87, 0, 87), white);}
#colorChoose .purpleButton:hover, .fake1 .purpleButtonFake:hover {background-image: radial-gradient( rgb(255, 0, 255), white);}
#colorChoose .greyButton {background-image: radial-gradient( rgb(39, 39, 39), white);}
#colorChoose .greyButton:hover, .fake1 .greyButtonFake:hover {background-image: radial-gradient( rgb(153, 153, 153), white);}
#enemyColorChoose .redButton {background-image: radial-gradient( rgb(107, 0, 0), black);}
#enemyColorChoose .redButton:hover, .fake2 .redButtonFake:hover {background-image: radial-gradient( rgb(255, 4, 4), black);}
#enemyColorChoose .yellowButton {background-image: radial-gradient( rgb(116, 116, 0), black);}
#enemyColorChoose .yellowButton:hover, .fake2 .yellowButtonFake:hover {background-image: radial-gradient( rgb(255, 255, 0), black);}
#enemyColorChoose .greenButton {background-image: radial-gradient( rgb(0, 70, 0), black);}
#enemyColorChoose .greenButton:hover, .fake2 .greenButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 0), black);}
#enemyColorChoose .blueButton {background-image: radial-gradient( rgb(0, 0, 78), black);}
#enemyColorChoose .blueButton:hover, .fake2 .blueButtonFake:hover {background-image: radial-gradient( rgb(0, 0, 255), black);}
#enemyColorChoose .cyanButton {background-image: radial-gradient( rgb(0, 97, 97), black);}
#enemyColorChoose .cyanButton:hover, .fake2 .cyanButtonFake:hover {background-image: radial-gradient( rgb(0, 255, 255), black);}
#enemyColorChoose .purpleButton {background-image: radial-gradient( rgb(87, 0, 87), black);}
#enemyColorChoose .purpleButton:hover, .fake2 .purpleButtonFake:hover {background-image: radial-gradient( rgb(255, 0, 255), black);}
#enemyColorChoose .greyButton {background-image: radial-gradient( rgb(39, 39, 39), black);}
#enemyColorChoose .greyButton:hover, .fake2 .greyButtonFake:hover {background-image: radial-gradient( rgb(153, 153, 153), black);}

.fakes1 {
    width:43px;
    height: 43px;
    transform: translateX(50px);
    background-image: radial-gradient(pink, black);
}
.fakes2 {
    width:43px;
    height: 43px;
    transform: translateX(-50px);
    background-image: radial-gradient(pink, black);
}
/* FOR ALL BOARDS */
.theHexagons{
    width: 50px;
    height: 44px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
    z-index: 10;
}
.theThirdHexagons{
    width: 40px;
    height: 35px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
    z-index: 10;
}
.void {
    background-color: black;
}
/* Need to ask arthur about this */
/* .theHexagons::after {        
    content:"";
    position: absolute;
    width: 50%;
    height: 5%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%, 30% 0%);
    background-color: black;
    z-index: -20;
} */
#whoseTurn {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
#tellTurn {
    position:fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    z-index: 600;
    margin:0;
    padding: 0;
    color: red;

}
/* FIRST BOARD */
#boardOne {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-36.6%, -50%);
    width: 500px;
    height: 440px;
}
#boardTwo {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-36.6%, -50%);
    width: 500px;
    height: 440px;
}
#boardThree {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
}
.column {
    width:10%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.colOdd {
    top: -2.5%;
}
.colEven {
    top: 2.5%;
}
#board1Col1 {
    left:7%;
}
#board1Col2 {
    left:14%;
}
#board1Col3 {
    left:21%;
}
#board1Col4 {
    left:28%;
}
#board1Col5 {
    left:35%;
}
#board1Col6 {
    left:42%;
}
#board1Col7 {
    left:49%;
}
#board1Col8 {
    left:56%;
}
#board1Col9 {
    left:63%;
}
#board1Col10 {
    left:70%;
}
#board1Col11 {
    left:77%;
}
#board1Col12 {
    left:84%;
}
#board1Col13 {
    left:91%;
}
#board1Col14 {
    left:98%;
}
